.ui.container {
  min-height: 100vh;
  background-image: radial-gradient(
    circle 321px at 8.3% 75.7%,
    rgba(209, 247, 241, 1) 0%,
    rgba(249, 213, 213, 1) 81%
  );
}
.video-container {
  display: flex;
  flex-direction: row;
}
.selected-video {
  margin: 2rem;
}
